* {
    font-family: Tahoma, sans-serif;
    color: white;
}

.baner1,
.baner3,
.baner4 {
    background-color: #983713;
    float: left;
    width: 17%;
    height: 100px;
}

.baner2 {
    background-color: #983713;
    width: 49%;
    height: 100px;
    float: left;
    text-align: center;
}

.lewy {
    background-color: #ff7f50;
    width: 80%;
    float: left;
    height: 500px;
}

.prawy {
    background-color: #ff7f50;
    width: 20%;
    height: 500px;
    float: left;
}

.stopka {
    background-color: #983713;
    text-align: right;
}

button {
    background-color: #d3d3d3;
    color: #2f2f2f;
    margin: 5px;
    padding: 10px 30px;
}

input {
    color: orange;
}