* {
    font-family: 'Garamond';
}

.baner,
.stopka {
    background-color: #3CD371;
    color: white;
    padding: 10px;
    font-size: 130%;
    clear: both;
    text-align: center;
}

.lewy {
    background-color: #FAEBD7;
    width: 55%;
    float: left;
    height: 450px;
}

.prawy {
    background-color: #FAEBD7;
    width: 45%;
    float: left;
    height: 450px;
}

img {
    padding: 3px;
    margin: 15px;
    border: 2px dashed #3CD371;
}