* {
    font-family: Helvetica, sans-serif;
}

.baner-lewy,
.blok-lewy {
    background-color: rgb(130, 69, 85);
    text-align: center;
    color: white;
    height: 200px;
    float: left;
    width: 30%;
}

.baner-prawy,
.blok-prawy {
    background-color: rgb(130, 69, 85);
    text-align: center;
    color: white;
    height: 200px;
    float: left;
    width: 70%;
}

.blok-glowny,
.stopka {
    background-color: rgb(240, 234, 226);
    color: white;
    padding: 120px;
}

table,
td {
    border: 1px solid rgb(130, 69, 85);
    color: rgb(130, 69, 85);
    padding: 10px;
}

a {
    color: rgb(240, 234, 226);
}