* {
    font-family: Verdana, sans-serif;
}

.baner,
.stopka {
    background-color: #4682B4;
    font-size: 120%;
    text-align: center;
    color: white;
    padding: 20px;
}

.lewy {
    width: 40%;
    height: 500px;
    float: left;
    background-color: #40E0D0;
}

.prawy {
    width: 60%;
    height: 500px;
    float: left;
    background-color: #40E0D0;
}

img {
    padding: 5px;
    margin: 10px;
    border: 1px solid #000080;
}