* {
    font-family: Verdana, sans-serif;
    color: #2f2f2f;
}

.baner1 {
    background-color: #dcdcdc;
    float: left;
    width: 55%;
    height: 80px;
    text-align: center;
}

.baner2,
.baner3,
.baner4 {
    background-color: #dcdcdc;
    width: 15%;
    float: left;
    height: 80px;
    text-align: center;
}

.lewy {
    background-color: #808080;
    width: 30%;
    float: left;
    height: 450px;
}

.prawy {
    background-color: #808080;
    width: 70%;
    float: left;
    height: 450px;
}

.stopka {
    background-color: #dcdcdc;
    text-align: center;
}

h5 {
    color: #808080;
    border: 1px solid #808080;
    margin: 7px;
    padding: 10px;
    font-size: 80%;
}

input {
    color: gray;
}