* {
    font-family: Tahoma, sans-serif;
}

.lewy,
.prawy {
    background-color: rosybrown;
    color: white;
    width: 30%;
    float: left;
    height: 200px;
}

.srodkowy {
    background-color: rosybrown;
    color: white;
    width: 40%;
    float: left;
    height: 200px;
    text-align: center;
}

.blok-glowny {
    background-color: wheat;
    padding: 50px;
}

.stopka {
    background-color: rosybrown;
    text-align: center;
    color: white;
    padding: 5px;
}

a {
    border: 2px solid darkred;
    background-color: salmon;
    padding: 20px;
    line-height: 200px;
}